<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CapsuleTimer</title>
</head>
<body>
<form method="post" action="/search/medicine">
    <input type="text" name="medicine_name">
    <button type="submit">SEARCH</button>
</form>
<button type="button"><a href="/memo">Memo</a></button>
{% if login.bool == "true" %}
<button type="button"><a href="/logout">Logout</a></button>
{% endif %}
{% if login.bool == "false" %}
<button type="button"><a href="/login">Login</a></button>
{% endif %}
<img src="/image/images-2.jpeg">
</body>
</html>