<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Write</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"/>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body style="background-image: /url( image/background3.jpg ); background-size: cover; background-position: center center;">
<form action="/memo/write" method="post" enctype=multipart/form-data>
    <img id="image" src="" width="50%" alt=""/>
    <input type="file" id="uploadImage" name="image" accept="image/*">
    <input type="text" name="memo_text">
    <button type="submit">작성하기</button>
    <script type="text/javascript">
        var file = document.querySelector("#uploadImage");

        file.onchange = function () {
            var fileList = file.files ;


            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList [0]);

            //로드 한 후
            reader.onload = function  () {
                document.querySelector('#image').src = reader.result ;
            };
        };
    </script>
</form>
</body>
</html>
