<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo Write</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#image").change(function() {
          readURL(this);
        });
    </script>
</head>
<body>
<form action="/memo/write" method="post">
    <img id="blah" src="#" alt="" />
    <input type="file" id="image" name="memo_image" accept="image/*">
    <input type="text" name="memo_user" value="Test" hidden="hidden">
    <input type="text" name="memo_text">
    <button type="submit">작성하기</button>
</form>
</body>
</html>