<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile_term_project.knight.a2018_mobile"> <!-- for calendar appWidget -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FontApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CapsuleTimer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".writing_memo" />
        <activity android:name=".memo_list" />
        <activity android:name=".edit_memo" />
        <activity android:name=".Show_medicine_list" />
        <activity android:name=".Show_medicine_info" />
        <activity android:name=".showGraph" />
        <activity android:name=".EnrollEmail"/>
        <activity android:name=".AppInfo"/>
        <activity android:name=".AppInfoGit"/>
        <activity android:name=".AppHomepage"/>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.Dark" />

        <!-- for calendar appWidget -->
        <receiver android:name=".MonthCalendarWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/month_calendar_widget_info" />
        </receiver>
        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mobile_term_project.knight.alarm.AlarmRinging" />
            </intent-filter>
        </receiver>
        <receiver android:name=".buttonAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="Click1" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/button_app_widget_info" />
        </receiver>

        <activity android:name=".SettingAlarm" />

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>